KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot/boot.o \
$(ARCHDIR)/gdt/load_gdt.o \
$(ARCHDIR)/gdt/set_gdt_entry.o \
$(ARCHDIR)/gdt/reload.o \
$(ARCHDIR)/gdt/gdt_init.o \
$(ARCHDIR)/kernel/init/arch_init.o \
$(ARCHDIR)/pg/kalloc_pframe.o \
$(ARCHDIR)/pg/kfree_pframe.o \
$(ARCHDIR)/pg/kmap_pages.o \
$(ARCHDIR)/pg/get_page_directory.o \
$(ARCHDIR)/pg/set_page_directory.o